.talent-card{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    .card-image{
        width: 100%;
    };
    
    .talent-card-body{
        padding: 15px;
        text-align: center;

        .title{
            margin: 0;
            font-weight: 600;
        }
    }
}