@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.title-secondary{
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

.title-primary{
    font-weight: 700;
    font-size: 36px;
}